* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gray;
    padding: 20px;
}


.box {
    background-color: #48e;
    display: grid;
    place-content: center;
    color: white;
    margin: 120px auto;
    font-size: 20px; /* NOTE Hay que tener en cuenta que la propiedad font-size, el <p> tiene de valor predeterminado 1em, por lo que si se le asigna un valor de 20px, en cambio el <h1> tiene un valor predeterminado de 2em, por lo que si se le asigna un valor de 20px, el tamaño de la fuente será diferente */
    padding: 0 40px;
    width: min(900px, 100%); /* NOTE La función min() devuelve el valor más pequeño de los argumentos o el max() devuelve el valor más grande */
    width: clamp(300px, 70%, 900px); /* NOTE La función clamp() limita el tamaño de un elemento, el primer argumento es el tamaño mínimo, el segundo es el tamaño preferido y el tercero es el tamaño máximo */
    font-family: clamp(2rem, 5vw, 3rem); /* NOTE La función clamp() también se puede usar para ajustar el tamaño de la fuente */
}

h1 {
    font-size: 2.4em;
    margin-bottom: 0;
}
