:root {
    --tamanio-principal: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}


.box {
    margin: 60px auto;
    font-size: 20px;
    padding: 0 40px;
    font-size: clamp(var(--tamanio-principal), 5vw, 3rem); /* NOTE La función clamp() también se puede usar para ajustar el tamaño de la fuente */
    border: 4px solid black;
    width: calc(50% + 300px); /* NOTE Se pueden hacer cálculos con las propiedades de CSS usando la función calc(), se puede actualmente sumar, restar, multiplicar y dividir */
}
