body {
    margin: 0;
    font-family: 'Outfit', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, div {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* NOTE El valor auto-fit nos permite ajustar el número de columnas al tamaño del contenedor, tambien existe el auto-fill que ajusta el tamaño de las columnas al tamaño del contenido pero no al contenedor */
    grid-template-rows: repeat(3, 200px);
    grid-auto-flow: row; /* NOTE La propiedad grid-auto-flow nos permite definir la dirección en la que se colocarán los elementos que no tienen un área definida */
    grid-auto-rows: 100px; /* NOTE La propiedad grid-auto-rows nos permite definir un tamaño para las filas que no tienen un tamaño definido */
    grid-auto-columns: 100px; /* NOTE La propiedad grid-auto-columns nos permite definir un tamaño para las columnas que no tienen un tamaño definido */
    margin: auto;
    margin-top: 30px;
    gap: 20px; /* NOTE La propiedad gap nos permite definir el espacio entre las filas y columnas */
}

.grid-item {
    background-color: aqua;
    font-size: 30px;
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
